body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 100%; /* Make the image responsive */
    height: auto;    /* Preserve the aspect ratio */
    display: block;  /* Center the image */
    margin: 20px auto;
}
